.form {
    padding: 1rem;
}

.control {
    margin-bottom: 0.5rem;
}

.control label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.control input,
.control textarea {
    display: block;
    font: inherit;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0.25rem;
    width: 100%;
}

.actions {
    margin-top: 1rem;
    text-align: right;
}

.actions button {
    font: inherit;
    cursor: pointer;
    background-color: rgba(22, 160, 133, 1.0);
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid rgba(22, 160, 133, 1.0);
    border-radius: 4px;
    font-weight: bold;
}

.actions button:hover,
.actions button:active {
    background-color: #fff;
    border-color: rgba(22, 160, 133, 1.0);
    color: rgba(22, 160, 133, 1.0);
}